<mat-grid-list cols="1" rowHeight="600px">
  <mat-form-field appearance="fill">
    <mat-label>Task name</mat-label>
    <input
      matInput
      required
      [(ngModel)]="data.assignmentTitle"
      placeholder="Write a task name"
    />
  </mat-form-field>

  <div class="inputs">
    <mat-form-field appearance="fill">
      <mat-label>Assign to</mat-label>
      <mat-select [(ngModel)]="data.assignmentUserId">
        <mat-option
          *ngFor="let user of users"
          [value]="user.userId"
        >
          {{ user.userFirstName }} {{ user.userLastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="controles-container">
      <mat-form-field appearance="fill">
        <mat-label>Choose start date</mat-label>
        <input
          matInput
          [(ngModel)]="data.assignmentStartDate"
          [matDatepicker]="picker1"
          min="{{ todaysDate }}"
          [formControl]="startDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choose end date</mat-label>
        <input
          matInput
          [(ngModel)]="data.assignmentEndDate"
          [matDatepicker]="picker2"
          [formControl]="endDate"
          [min]="startDate.value"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <div class="priority">
        <mat-radio-group [(ngModel)]="data.assignmentPriorityId">
          <h3>Priority</h3>
          <mat-radio-button value="1" color="warn">High</mat-radio-button>
          <mat-radio-button value="2" color="warn">Medium</mat-radio-button>
          <mat-radio-button value="3" color="warn">Low</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="status">
        <mat-radio-group [(ngModel)]="data.assignmentStatusId">
          <h3>Status</h3>
          <mat-radio-button value="1" color="warn">To do</mat-radio-button>
          <mat-radio-button value="2" color="warn"
            >In Progress</mat-radio-button
          >
          <mat-radio-button value="3" color="warn">Done</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="description">
        <h3>Description</h3>
        <mat-form-field appearance="fill">
          <mat-label>Textarea</mat-label>
          <textarea matInput [(ngModel)]="data.assignmentDescription"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()" mat-dialog-closegi>
      Close
    </button>
    <button
      (click)="onAdd(data)"
      class="submit"
      mat-raised-button
      color="primary"
    >
      Submit
    </button>
  </div>
</mat-grid-list>
