<div class="search-div">
  <button
    class="btn-add"
    mat-raised-button
    color="primary"
    (click)="openDialog()"
  >
    <mat-icon>add</mat-icon>Add task
  </button>
  <div class="status-div">
    <mat-form-field class="status" appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select ngModel (ngModelChange)="getSelectedStatus($event)">
        <mat-option [value]="0">Home</mat-option>
        <mat-option *ngFor="let status of statusi" [value]="status.statusId">
          {{ status.statusTitle }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="search-form-field">
      <input
        matInput
        [(ngModel)]="searchKey"
        placeholder="Search"
        autocomplete="off"
        (keyup)="applyFilter()"
      />
      <button
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        *ngIf="searchKey"
        (click)="onSearchClear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
<div class="tasks-items">
  <h4>{{ name }}</h4>
  <app-task-item
    *ngFor="let task of tasks"
    [task]="task"
    (deleteTask)="deleteTask($event)"
    (updateTask)="updateTask($event)"
  >
  </app-task-item>
</div>
