.container {
  width: 60% !important;
}
.btn-add {
  background: rgb(73, 160, 194);
  border: 2px solid white;
}
.btn-add:hover{
  background-color: rgb(35, 123, 158);;
}
.noTasks h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  padding: 30px;
}
.tasks-items {
  box-shadow: 5px -1px 10px rgba(0, 26, 0, 0.75);
  padding: 5px 20px;
  padding-bottom: 30px;
  margin-top: 30px;
  border-radius: 10px;
  border: 4px solid white;
  max-height: 65vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.search-div {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.status-div {
  display: flex;
  background-color: white;
  border-radius: 10px;
  justify-content: flex-end;
  align-items: center;
}

.search-form-field {
  height: 40px;
  margin-left: 10px;
  padding: 6px 10px;
  background-color: white;
  border-radius: 5px;
}
.search-form-field div.mat-form-field-underline {
  display: none;
}
.status {
  height: 40px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 6px 10px;
  background-color: white;
}
.status div.mat-form-field-underline {
  display: none;
}
.submit{
  background-color: rgb(236, 236, 236);
  color: rgb(29, 121, 158);;
}
.submit:hover{
  background-color: rgb(255, 255, 255);

}
