.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  border: 1px solid red;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 26, 0, 0.75);
  height: 3rem;
}

.img-status {
  max-width: 30px;
  max-height: 30px;
}
.card-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.priority {
  width: 25%;
  text-align: center;
  background-color: yellow;
  border-radius: 10px;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
}
.title {
  margin: 0 !important;
  height: 24px;
  text-align: center;
}
.assigned::before {
  content: "Assigned to";
  position: absolute;
  top: 0px;
  font-weight: lighter;
  font-style: italic;
  font-size: 0.75rem;
}

.end-date::before {
  content: "Due date";
  position: absolute;
  top: 0px;
  font-weight: lighter;
  font-style: italic;
  font-size: 0.75rem;
}

.priority::before {
  content: "Priority";
  position: absolute;
  top: -75%;
  left: 14%;
  margin-left: -1rem;
  font-weight: lighter;
  font-style: italic;
  font-size: 0.75rem;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

   



.check-item {
  display: flex;
  align-items: center;

  position: relative;
  
  cursor: pointer;
  
  font-size: 18px;

  padding: 35px 15px;

  border-bottom: 1px solid #f2f3f5;


}
.check-item.completed {
  color: #aaa;
}






.check-item .x {
  display: flex;

  flex-shrink: 0;
  
  border: 2px solid rgb(100, 96, 96);
  border-radius: 50%;

  margin-right: 20px;

  height: 28px;
  width: 28px;

  transition: background-color 0.2s, border-color 0.2s;

  
}
.check-item .x .material-icons {
  font-size: 20px;
  margin: auto;

  color: rgb(34, 34, 34);
  
  
  opacity: 0;

  transition: opacity 0.2s;
}

.check-item:hover .x {
  background: #eee;
 
}
.check-item:hover .x .material-icons {
  opacity: 0.28;
}

.check-item.completed .x {
  background: rgb(11, 223, 170);
  border-color: rgb(11, 223, 170);

  
}
.check-item.completed .x .material-icons {
  opacity: 1;
}