<mat-card class="card">
  <div class="card-header">
    <mat-card-header>
      <!--
            STATUS
        -->
      <div *ngIf="task.status; then thenStatus; else elseStatus"></div>
    </mat-card-header>
    <!--
        TITLE
    -->
    <mat-card-title class="title">{{ task.name }}</mat-card-title>
  </div>
  <mat-card-content class="card-body">
    <!--
          USER ICON AND NAME
      -->
    <div class="assigned-user">
      <img src="../../../assets/img/user-img.png" alt="user icon" />
      <p class="assigned">
        {{ task.assigned }}
      </p>
    </div>

    <!--
        START DATE
    -->
    <div>
      <p class="start-date">{{ task.start_date }}</p>
    </div>
    <!--
        END DATE
    -->

    <div>
      <p class="end-date">{{ task.end_date }}</p>
    </div>

    <!--
        PRIORITY
    -->

    <ng-template [ngIf]="task.priority == 1">
      <div class="priority priority-high">
        <p>HIGH</p>
      </div>
    </ng-template>
    <ng-template [ngIf]="task.priority == 2">
      <div class="priority priority-medium">
        <p>MEDIUM</p>
      </div>
    </ng-template>
    <ng-template [ngIf]="task.priority == 3">
      <div class="priority priority-low">
        <p>LOW</p>
      </div>
    </ng-template>

    <!--
        CONTROL BOXES
    -->
    <div class="controls-box">
      <button class="edit">
        <i class="material-icons">edit</i>
      </button>

      <button class="delete" (click)="onDelete(task)">
        <i class="material-icons">delete</i>
      </button>
    </div>
  </mat-card-content>
</mat-card>

<!--
    Icons for status; circle for unfinished, checked circle for finished

    Finshed icon
-->
<ng-template #thenStatus>
  <div class="check-item completed">
    <div class="x">
      <span class="material-icons" (click)="onToggle(task)">check</span>
    </div>
  </div>
</ng-template>
<!--
    Not finished icon
-->
<ng-template #elseStatus>
  <div class="tooltip">
    <div class="check-item">
      <div class="x">
        <span class="material-icons" (click)="onToggle(task)">check</span>
      </div>
    </div>
    <span class="tooltiptext">Click to finish</span>
  </div>
</ng-template>
